fundus~=0.4.6
tqdm~=4.66.5
datasets~=3.1.0
torch~=2.6.0
transformers~=4.47.0
accelerate~=0.34.0
trl~=0.15.1
peft~=0.14.0
numpy~=2.1.1
matplotlib~=3.10.0
causal-conv1d>=1.2.0
mamba-ssm
beautifulsoup4~=4.13.3
unsloth~=2025.3.9
evaluate~=0.4.3